/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --wrapper_top_bg_color: #009688;
    --wrapper_main_bg_color: #dadbd3;
    --top_left_right_content: #202c33;
    --icons_color: #b1b1b1;
    --notifications_div_color: #8edafc;
}

body {
    font-family: 'Lato', sans-serif;
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.grid {
    border: 2px solid;
}

/*****************************************************
CSS "Boolzapp"
*****************************************************/

#wrapper_top {
    height: 8rem;
    background-color: var(--wrapper_top_bg_color);
}

#wrapper_main {
    height: calc(100% - 8rem);
    background-color: var(--wrapper_main_bg_color);
}

#boolzapp {
    width: 1100px;
    height: 41rem;
    position: absolute;
    top: 1rem;
    left: 9rem;
}

#left_content {
    width: 38%;
    border: 1px solid var(--icons_color);
    border-right: none;
}

#right_content {
    width: 62%;
    border: 1px solid var(--icons_color);
}

#top_left_content, #top_right_content {
    height: 4rem;
    background-color: var(--top_left_right_content);
}

#my_avatar {
    width: 50%;
}

.my_avatar_img {
    width: 2.5rem;
    height: 2.5rem;
}

#left_content_icons {
    width: 50%;
}

.fa-solid {
    color: var(--icons_color);
    font-size: 18px;
}

#last_access {
    font-size: 11px;
}

#notifications {
    height: 4.5rem;
    background-color: var(--notifications_div_color);
}