/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --primary_color: #ffffff;
    --top_left_right_content: #202c33;
    --icons_color: #b1b1b1;
    --notifications_div_color: #8edafc;
    --bell_slash_div_color: #f2fbff;
    --main_left_content: #111b21;
    --chat_box_focus: #2a3942;
    --chat_box_hover: #202c33;
    --sent_message: #005c4b;
}

body {
    font-family: 'Lato', sans-serif;
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.grid {
    border: 2px solid white;
}

/*****************************************************
CSS "Boolzapp"
*****************************************************/

#wrapper {
    background-color: var(--main_left_content);
}

#wrapper_main {
    height: calc(100% - 8rem);
}

#boolzapp {
    width: 1270px;
    height: 41rem;
}

#left_content {
    width: 38%;
    border-right: 1px solid rgb(237, 237, 237, 0.3);
}

#right_content {
    width: 62%;
    height: 41rem;
}

#top_left_content, #top_right_content {
    height: 4rem;
    background-color: var(--top_left_right_content);
}

#my_avatar {
    width: 50%;
}

.rounded_img {
    width: 2.5rem;
    height: 2.5rem;
}

.right_content_icons {
    width: 50%;
}

.fa-solid, .fa-regular {
    color: var(--icons_color);
    font-size: 18px;
}

#last_access {
    font-size: 11px;
}

#notifications {
    height: 4.5rem;
    background-color: var(--notifications_div_color);
}

#bell_slash {
    background-color: var(--bell_slash_div_color);
}

.fa-bell-slash {
    color: var(--notifications_div_color);
}

#receive_notifications {
    font-size: 13px;
}

#active_notifications {
    font-size: 10px;
}

#main_left_content {
    height: calc(100% - 8.5rem);
    background-color: var(--main_left_content);
}

#search_chat {
    height: 3rem;
    border-bottom: 1px solid rgb(237, 237, 237, 0.3);
}

#search_start_chat {
    width: 91.5%;
    height: 1.9rem;
    background-color: var(--icons_color);
    border-radius: 6px;
    border-style: none;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 3%;
    padding-left: 2.8rem;
}

#search_start_chat:focus, #chat_write_message:focus {
    outline: none;
}

.fa-arrow-left {
    padding-right: 5px;
}

.chat_container {
    overflow-y: auto;
    max-height: calc(100% - 3rem);
}

.chat_container ul li {
    border-bottom: 1px solid rgb(237, 237, 237, 0.3);
}

.chat_box {
    height: 4rem;
}

.chat_box:focus {
    background-color: var(--chat_box_focus);
}

.chat_box:not(:focus):hover {
    background-color: var(--chat_box_hover);
}

.time {
    font-size: 10px;
}

.chat_rounded_img {
    width: 3.7rem;
    height: 3.7rem;
}

#main_right_content {
    height: 80%;
    overflow-y: auto;
    /* background-image: url(../img/dark_bg.jpg);
    background-size: contain;
    opacity: 0.5; */
}

.received_message {
    width: 25%;
    background-color: var(--chat_box_hover);
    font-size: 12px;
    color: var(--primary_color);
    border-radius: 11px;
    padding: 5px 10px;
    margin: 3rem 0 0 7rem;
}

.sent_message {
    width: 25%;
    background-color: var(--sent_message);
    font-size: 12px;
    color: var(--primary_color);
    border-radius: 11px;
    padding: 5px 10px;
    margin: 3rem 0 5px 34rem;
}

.date {
    font-size: 9px;
    color: var(--primary_color);
}

#bottom_right_content {
    height: calc(100% - 37rem);
    background-color: var(--top_left_right_content);
    position: absolute;
    bottom: 21px;
    left: 0;
    right: 0;
}

.fa-face-grin-wide, .fa-paperclip {
    padding-left: 15px;
}

#chat_write_message {
    height: 2.6rem;
    background-color: var(--chat_box_focus);
    border-radius: 6px;
    border-style: none;
    padding-left: 1rem;
}

.fa-microphone {
    padding-right: 11px;
}