/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --wrapper_top_bg_color: #009688;
    --wrapper_main_bg_color: #dadbd3;
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.grid {
    border: 2px solid;
}

/*****************************************************
CSS "Boolzapp"
*****************************************************/

#wrapper_top {
    height: 8rem;
    background-color: var(--wrapper_top_bg_color);
    z-index: 0;
}

/* #wrapper_main {
    height: calc(100% - 8rem);
    background-color: var(--wrapper_main_bg_color);
} */

#boolzapp {
    width: 1100px;
    height: 30rem;
    position: absolute;
    top: 2rem;
    left: 9rem;
    background-color: black;
    z-index: 1;
}