<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div id="wrapper" class="vh-100 w-100">
            <div id="wrapper_main" class="w-100">
                <div id="boolzapp" class="d-flex mx-auto pt-4">
                    <div id="left_content">
                        <div id="top_left_content" class="d-flex justify-content-center align-items-center">
                            <div id="my_avatar" class="d-flex align-items-center">
                                <div class="rounded_img mx-3">
                                    <a href="#"><img class="w-100 rounded-circle" src="./img/avatar_io.jpg" alt="my_avatar_img"></a>
                                </div>
                                <span class="text-white">Sofia</span>
                            </div>
                            <div class="right_content_icons d-flex flex-row-reverse align-items-center px-3">
                                <a href="#"><i class="fa-solid fa-ellipsis-vertical p-3"></i></a>
                                <a href="#"><i class="fa-solid fa-message p-3"></i></a>
                                <a href="#"><i class="fa-solid fa-circle-notch p-3"></i></a>
                                <a href="#"><i class="fa-solid fa-users p-3"></i></a>
                            </div>
                        </div>
                        <div id="notifications" class="w-100 d-flex align-items-center">
                            <div id="bell_slash" class="rounded_img rounded-circle d-flex justify-content-center align-content-center align-items-center mx-3">
                                <a class="text-decoration-none" href="#"><i class="fa-solid fa-bell-slash w-100 fs-6"></i></a>
                            </div>
                            <div class="d-flex flex-column">
                                <span id="receive_notifications">Ricevi notifiche di nuovi messaggi</span>
                                <div id="active_notifications" class="text-decoration-underline"><a class="text-secondary" href="#">Attiva notifiche desktop</a></div>
                            </div>
                        </div>
                        <div id="main_left_content" class="w-100">
                            <div id="search_chat" class="w-100 d-flex justify-content-between align-items-center px-3">
                                <input id="search_start_chat" class="small" type="text" placeholder="Cerca o inizia una nuova chat"></input>
                                <a href="#"><i class="fa-solid fa-bars-staggered"></i></a>
                            </div>
                            <div class="chat_container w-100">
                                <ul class="list-unstyled">
                                    <li v-for="contact in contacts" :key="contact.id" @click="selectChat(contact)">
                                        <a href="#" class="chat_box d-flex align-items-center position-relative text-decoration-none pt-2">
                                            <div class="chat_rounded_img mx-3">
                                                <img class="w-100 rounded-circle" :src="contact.avatar" alt="avatar_img">
                                            </div>
                                            <div class="d-flex flex-column w-100 pb-1">
                                                <div class="text-white">{{contact.name}}</div>
                                                <div if="contacts.messages.status === 'sent'" v-for="msg in contacts.messages" :key(msg.id) class="small text-white">{{msg.message}}</div>
                                            </div>
                                            <div class="time text-white position-absolute top-0 end-0 mx-3 pt-2">
                                                <span>{{contact.lastAccess}}</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="right_content" class="position-relative">
                        <div id="top_right_content" class="d-flex justify-content-center align-items-center">
                            <div id="my_avatar" class="d-flex align-items-center">
                                <div class="rounded_img mx-3">
                                    <a href="#"><img class="w-100 rounded-circle" :src="selectedContact.avatar" :alt="selectedContact.name"></a>
                                </div>
                                <div class="d-flex flex-column">
                                    <a class="text-decoration-none text-white" href="#"><span>{{selectedContact.name}}</span></a>
                                    <div id="last_access" class="text-white">Ultimo accesso oggi alle 12:00</div>
                                </div>
                            </div>
                            <div class="right_content_icons d-flex flex-row-reverse align-items-center px-3">
                                <a href="#"><i class="fa-solid fa-ellipsis-vertical p-3"></i></a>
                                <a href="#"><i class="fa-solid fa-magnifying-glass p-3"></i></a>
                            </div>
                        </div>
                        <div id="main_right_content" class="w-100"></div>
                        <div id="bottom_right_content" class="w-100 d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-row px-1">
                                <a href="#"><i class="fa-regular fa-face-grin-wide"></i></a>
                                <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                            </div>
                            <div class="w-100 d-flex justify-content-between align-items-center px-3">
                                <input id="chat_write_message" class="small text-white w-100" type="text" placeholder="Scrivi un messaggio"></input>
                            </div>
                            <div class="p-1">
                                <a href="#"><i class="fa-solid fa-microphone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>